/*1. default layouts*/
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('font/PretendardVariable.woff2') format('woff2-variations');
}

html {
    font-family: 'Pretendard Variable', sans-serif;
}
body {

    --hovered-color: #4d4d4d;
    --hovered-background: #ebebeb;
    color: var(--color-dark);
    font-family: 'Pretendard Variable', sans-serif;
    margin: 0 auto;
    line-height: 1.5;
}
* {
    transition: 0.1s linear;
    font-family: 'Pretendard Variable', sans-serif;
}

a, a:link {
    color: var(--color-dark);
    text-decoration: none;

}
a:hover {
    color: var(--color-dark-hover);
}
a:focus {
    outline: none;
}
input:focus, button:focus {
    outline: none;
}

li, ul li {
    list-style: none!important;
}

/*2. scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {

  }

body {
  margin: 0 auto!important;

}
.page {
  margin: 0 auto!important;

  max-width: 1600px;
}

.archive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 0.625rem;
  grid-auto-flow: dense;
}

.article {
  padding: 1rem;
  background: #fff;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 20px 20px rgba(0, 0, 0, 0.05);
}

.article::after {
  color: white;
  font-weight: bold;
  font-family: courier;
}

.article:nth-child(2) {
  grid-column: 2/-1;
  background: grey
}

.article:nth-child(2)::after {
  content: "2/-1";
}

.article:nth-child(8) {
  grid-column: 1/-2;
  background: grey
}

.article:nth-child(8)::after {
  content: "1/-2";
}


.article:nth-child(3)::after {
  content: "1/-1";
}

.article:nth-child(17) {
  grid-column: 2/-2;
  background: grey
}

.article:nth-child(17)::after {
  content: "2/-2";
}

.article:nth-child(24) {
  grid-column: 1/3;
  background: grey
}

.article:nth-child(24)::after {
  content: "1/3";
}

.article:nth-child(29) {
  grid-column: -3/-1;
  background: grey
}

.article:nth-child(29)::after {
  content: "-3/-1";
}

.article:nth-child(35) {
  grid-column: 2/-2;
  background: grey
}

.article:nth-child(35)::after {
  content: "2/-3";
}

.article:nth-child(42) {
  grid-column: 1/-1;
  background: grey
}

.article:nth-child(42)::after {
  content: "1/-1";
}

.article:nth-child(50) {
  grid-column: 3/-2;
  background: grey
}

.article:nth-child(50)::after {
  content: "3/-2";
}